* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
  
.main-wrapper {
  position: relative;
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
  
.my-photo{
  width: 100%;
  display: block;
}

.contacts-container {
  margin: 60px 40px 0 30px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  padding-left: 10px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.contacts-link svg{
  fill: white;
  margin-right: 10px;
}

.contact-list li a:hover, .contact-list li a:focus{
  color: #ff6b08;
  fill:#ff6b08;
}

.contact-list li a svg:hover, .contact-list li a svg:focus{
  fill: #ff6b08;
}

.contact-list{
  padding-left: 15px;
  list-style-type: none;
  padding: 0;
}


.skills-container {
  margin: 55px 40px 0 40px;
}

.skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.skills-list li {
  margin-left: 15px;
  color: #ff6b08;
}

.skills-list li span {
  color: #e2e4e6;
}

.about-me-container {
  padding: 110px 90px;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  margin-top: 24px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects {
	display: flex;	
	justify-content: center;
	column-gap: 88px;
	flex-wrap: wrap;
}

.project-link {
  display: block;
  transition: color 0.2s;
	text-decoration: none;
	color: #2a3030;
}

.project-link:hover {
  color:  #9d8665;
  transition: color 0.2s;
}

.project-link:active {
  color:  #9d8665;
  transition: color 0.2s;
}

h5 {  
  width: 280px;
  height: 18px;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #710707;
  transition: width 0.7s linear;
}

.project-link:hover .underline-title::after {
  width: 91%;
  transition: width 0.7s linear;
}

.project-text {
  line-height: 60px;
}


section {
  margin-bottom: 55px;
}

.kata-link {
  text-decoration: none;
  color: black;
}

.kata-link:hover, .kata-link:focus{
  color: #ff6b08;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 8px 0 15px 0;
}

.profession-company {
  color: #ff7920;
}

.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.divider {
  color: black;
}

.additional-education-details-container {
  margin-bottom: 15px;
}

.education {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 55px 0 20px 0;
}

.education-place {
  color: #ff6b08;
  margin-bottom: 15px;
}

.specialization {
  margin-bottom: 15px;
}


/*Styles for desktop*/

@media screen and (min-width:1200px){
  .wrapper{
    display: none;
  }
  .tech-skills-tablet-container{
    display: none;
  }

  .sidebar {
    background: #1e2939;
    min-width: 370px;
    padding: 40px 0 40px 0;
  }
}


/*Styles for tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px){

  .wrapper{
    display: none;
  }

  .tech-skills-tablet-container{
    display: none;
  }

  .sidebar {
    background: #1e2939;
    min-width: 300px;
    padding: 40px 0 40px 0;
  }

  .name{
    font-size: 30px;
    font-weight: 700;
    line-height: 66px;
  }
  .about-me-container {
    padding: 70px 50px;
  }
}

/*Styles for phone*/

@media screen and (min-width: 320px) and (max-width: 440px){
  .code{
    max-width: 220px;
    border: 1px solid green;
  }

  .header-body{
    height: 50px;
  }
  #project-experience ul{
    display: block;
  }
  .project-example-list{
    width: 100%;
  }

  .project-example-list:first-of-type{
    margin-bottom: 10px;
  }

  .about-me-title{
    margin-bottom: 15px;
  }

}


@media screen and (max-width: 767px){
  .sidebar{
    display: none;
  }

  .code{
    width: 100%;
  }
  

  .about-me-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .skills-title, .contacts-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .name{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
  }
  
  section{
    margin-bottom: 40px;
  }

  .about-me-container {
    padding: 90px 30px 60px 30px;
  }

  .container{
    max-width: 767px;
    margin: 0 auto;
    padding: 0 25px;
  }

  body.lock{
    overflow: hidden;
  }

  .skills-list li span{
    color: black;
  }

  .contact-list{
    padding: 0;
  }

  .contact-list li a{
    color: black;
    display: block;
  }

  .contact-list li a:hover, .contact-list li a:focus{
    color: #ff6b08;
  }

  .contact-list li a span:hover, .contact-list li a span:focus{
    fill: #ff6b08;
  }


  .contacts-link svg{
    fill: #ff6b08;
    margin-right: 8px;
  }

  footer{
    background-color: #1e2939;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
  }
}